@media (max-width: 992px) {
  .titulo {
    display: none;
  }
}

.estadisticas-problema .dato-numerico-titulo {
    font-size: 0.95rem;
}

.estadisticas-problema .diagrama-sectores-titulo {
    font-size: 1.2rem;
}

.estadisticas-problema .diagrama-sectores-legend-item {
    font-size: 1.3em;
}