/* navbar barra superior en pantallas pequeñas */
.navbar {
  background-color: #446E9B;
  padding: 0.6rem 1rem;
  display: flex;
  justify-content: space-between;
}

/* boton para desplegar navbar en pantallas pequeñas */
.navbar button {
  font-size: 1.8rem;
  color: #F5F5F5;
  border: none;
}

.navbar button:hover {
  background-color: #72ACD3;
  color: #F5F5F5;
}

/* titulo navbar */
.navbar-brand {
  color: #F5F5F5 !important;
  font-size: 1.7rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 14px;
}

/* sidebar (pantalla grande) */
.sidebar {
  background-color: #446E9B;
  width: 300px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: 30px 22px;
  display: flex;
  flex-direction: column;
}

.sidebar .navbar-brand {
  margin-top: 30px;
  margin-bottom: 60px !important;
  font-size: 1.6rem;
}


/* links */
.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-link {
  color: #F5F5F5 !important;
  font-size: 1.3rem !important;
  padding: 10px 6px !important;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 10px;
  transition: all 0.2s ease !important;
}

/* iconos de links */
.nav-link svg {
  font-size: 1.5rem !important;
}

.nav-link:hover {
  background-color: #72acd3a2
  /*background-color: #F5F5F5;
  color: #446E9B !important;*/
}

.nav-link.active {
  background-color: #72acd3a2 !important;
  /*color: #446E9B !important;*/
  border-left: 8px solid #72ACD3 !important;
  padding-left: 8px !important;
}


/* navbar cuando la pantalla es pequeñas */
.offcanvas {
  background-color: #446E9B !important;
  border-right: none;
  width: 85% !important;
  max-width: 320px;
}

@media (max-width: 991px) {
  .offcanvas {
    --bs-offcanvas-width: 90vw;
  }
}

.offcanvas-title {
  font-size: 1.8rem !important;
  font-weight: 700 !important;
  color: #F5F5F5 !important;
  margin-top: 15px;
}

.offcanvas-body {
  padding: 1.8rem 1.75rem !important;
}


/* links en pantallas peuqeñas */
@media (max-width: 991px) {

  .nav-link {
    font-size: 1.3rem !important;
    padding: 16px 6px !important;
    gap: 18px !important;
  }

  .navbar-brand {
    font-size: 1.8rem !important;
  }
}